name: Rust

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
            os_name: Linux-x86_64
            binary: playground-rust-api
            archive: playground-rust-api.tar.gz
          - os: windows-latest
            os_name: Windows-x86_64
            binary: playground-rust-api.exe
            archive: playground-rust-api.zip

    runs-on: ${{ matrix.platform.os }}

    steps:
    - uses: actions/checkout@v6

    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build versions
      run: |
        cargo --version
        rustc --version
        rustup toolchain list

    - name: Rust toolchains
      run: rustup toolchain list

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Package as archive
      shell: bash
      run: |
        cd target/debug
        if [[ "${{ matrix.platform.os }}" == "windows-latest" ]]; then
          7z a ../../${{ matrix.platform.archive }} ${{ matrix.platform.binary }}
        else
          tar -czvf ../../${{ matrix.platform.archive }} ${{ matrix.platform.binary }}
        fi
        cd -

    - name: Publish release artifacts
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.platform.os_name }}
        path: ${{ matrix.platform.archive }}
