name: Rust

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        platform:
          - os: ubuntu
            binary: playground-rust-api
            archive: playground-rust-api.tar.gz
          - os: windows
            binary: playground-rust-api.exe
            archive: playground-rust-api.zip

    runs-on: ${{ matrix.platform.os }}-latest

    steps:
    - uses: actions/checkout@v6

    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build versions
      run: |
        cargo --version
        rustc --version
        rustup toolchain list

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Publish release artifacts
      uses: actions/upload-artifact@v7
      with:
        name: ${{ matrix.platform.os }}
        path: ${{ github.workspace }}/target/debug/${{ matrix.platform.binary }}
